/*div div {*/
    /*!*display: inline-table;*!*/
/*}*/

.main {
    margin: 50px;
}

.navigation {
    background-color: #c2bdff;
    /*margin: 10px;*/
    /*display: table-column;*/
}

.button1 {
    width: 100px;
    height: 50px;
    background-color: rgb(176, 23, 0);
    color: darkorange;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    /*vertical-align: top;*/
    display: inline-table;
}

.button2 {
    width: 100px;
    height: 50px;
    background-color: rgb(151, 176, 3);
    color: #ffd18f;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    /*vertical-align: top;*/
    align-content: right;
    display: inline-table;
}

.button3 {
    width: 200px;
    height: 100px;
    background-color: rgb(151, 176, 3);
    color: #ffd18f;
    /*vertical-align: center;*/
}

.xs_thumb {
    width: 200px;
    height: 100px;
    /*vertical-align: center;*/
}

.thumb {
    width: 1000px;
    height: 500px;
    /*display: inline-table;*/
}